{% load static %}
{% block body %}
{% include 'admin/navigationpanel.html' %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Employee</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Employee</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="/employee/add" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Employee</a>
								<div class="view-icons">
									<a href="/employee" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
									<a href="/employee_list" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Search Filter -->
					<div class="row filter-row">
						<div class="col-sm-6 col-md-3">  
							<div class="form-group form-focus">
								<input type="text" class="form-control floating">
								<label class="focus-label">Employee ID</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">  
							<div class="form-group form-focus">
								<input type="text" class="form-control floating">
								<label class="focus-label">Employee Name</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3"> 
							<div class="form-group form-focus select-focus">
								<select class="select floating"> 
									<option value="">Select Designation</option>
									<option value="1">Web Developer</option>
									<option value="">Web Designer</option>
									<option value="">Android Developer</option>
									<option value="">Ios Developer</option>
								</select>
								<label class="focus-label">Designation</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">  
							<a href="#" class="btn btn-success btn-block"> Search </a>  
						</div>
                    </div>
					<!-- Search Filter -->
					<div class="row staff-grid-row">
						{% for x in employeedetails %}
						<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
							<div class="profile-widget">
								<div class="profile-img">
									<a href="/profile/{{x.id}}" class="avatar"><img src="" alt="employee image"></a>
								</div>
								<div class="dropdown profile-action">
<!--									<a href="/employee/add" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Employee</a>-->
									<a class="dropdown-item px-1 py-0 rounded d-sm-block text-center" href="/employee/edit/{{x.id}}" data-toggle="modal" data-target="#employee_edit"><i class="fa fa-pencil-square-o"></i></a>
									<a class="dropdown-item px-1 py-0 rounded d-sm-block text-center" href="/employee/delete" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i></a>
								</div>
								<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="/profile/{{x.id}}">{{x.username}}</a></h4>
								<div class="small text-muted">{{x.department}}</div>
							</div>
						</div>
						{% endfor %}
                	</div>
				<!-- /Page Content -->
				
				<!-- Add Employee Modal -->
				<div id="add_employee" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Employee</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form action="/employee/add" method="POST">
									{% csrf_token %}
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="employee_name">Name <span class="text-danger">*</span></label>
												<input class="form-control" type="text" name="employee_name" id="employee_name">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="employee_email">Email <span class="text-danger">*</span></label>
												<input class="form-control" type="email" name="employee_email" id="employee_email">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="employee_password">Password</label>
												<input class="form-control" type="text" name="employee_password" id="employee_password">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="employee_conf_password">Confirm Password</label>
												<input class="form-control" type="text" name="employee_conf_password" id="employee_conf_password">
											</div>
										</div>
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label" for="employee_phone">Phone <span class="text-danger">*</span></label>
												<input type="text" class="form-control" name="employee_phone" id="employee_phone">
											</div>
										</div>
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label" for="employee_joindate">Joining Date <span class="text-danger">*</span></label>
												<div class="cal-icon"><input class="form-control" type="date" name="employee_joindate" id="employee_joindate"></div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-form-label" for="employee_department">Department <span class="text-danger">*</span></label>
												<select class="select-form form-control" name="employee_department" id="employee_department">
													<option>Select Department</option>
													<option value="1">Web Development</option>
													<option value="2">IT Management</option>
<!--													<option value="3">Marketing</option>-->
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-form-label" for="employee_designation">Designation <span class="text-danger">*</span></label>
												<select class="select-form form-control" name="employee_designation" id="employee_designation">
													<option>Select Designation</option>
													<option value="1">Web Designer</option>
													<option value="2">Web Developer</option>
<!--													<option value="3">Android Developer</option>-->
												</select>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn" name="employee_submit_data" type="submit">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Employee Modal -->
				
				<!-- Edit Employee Modal -->
				<div id="employee_edit" class="modal custom-modal fade" role="dialog" aria-modal="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Employee</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form action="{% url 'EditEmployee' edit_employee.id %}" method="POST" role="form">
									{% csrf_token %}
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="up_employee_name">Name <span class="text-danger">*</span></label>
												<input class="form-control" value="sonani jemish n" type="text" name="up_employee_name" id="up_employee_name">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="up_employee_email">Email <span class="text-danger">*</span></label>
												<input class="form-control" value="{{edit_employee.email}}" type="email" name="up_employee_email" id="up_employee_email">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="up_employee_password">Password</label>
												<input class="form-control" value="johndoe" type="password" name="up_employee_password" id="up_employee_password">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="up_employee_conf_password">Confirm Password</label>
												<input class="form-control" value="johndoe" type="password" name="up_employee_conf_password" id="up_employee_conf_password">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label" for="up_employee_phone">Phone <span class="text-danger">*</span></label>
												<input type="text" class="form-control" name="up_employee_phone" id="up_employee_phone">
											</div>
										</div>
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label" for="up_employee_joindate">Joining Date <span class="text-danger">*</span></label>
												<div class="cal-icon"><input class="form-control" type="date" value="{{profile.date_joined}}" name="up_employee_joindate" id="up_employee_joindate"></div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="up_employee_department">Department <span class="text-danger">*</span></label>
												<select class="select-form form-control" value="{{profile.department}}" name="up_employee_department" id="up_employee_department">
													<option value="">Select Department</option>
													<option value="1">Web Development</option>
													<option value="2">IT Management</option>
													<option value="3">Marketing</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="up_employee_designation">Designation <span class="text-danger">*</span></label>
												<select class="select-form form-control" value="{{profile.designation}}" name="up_employee_designation" id="up_employee_designation">
													<option value="" >Select Designation</option>
													<option value="1">Web Designer</option>
													<option value="2">Web Developer</option>
													<option value="3">Android Developer</option>
												</select>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn" id="employee_update_data" name="employee_update_data" type="submit">Update</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Employee Modal -->
				
				<!-- Delete Employee Modal -->
				<div class="modal custom-modal fade" id="delete_employee" role="dialog" aria-modal="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Employee</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="/employee/delete/{{deleteemployee.id}}" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="#" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Employee Modal -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->

{% endblock body %}